body {
   padding-top: 50px;
   padding-bottom: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for column layout */
.col-1 {
   width: 8.33%;
}

.col-2 {
   width: 16.66%;
}

.col-3 {
   width: 25%;
}

.col-4 {
   width: 33.33%;
}

.col-5 {
   width: 41.66%;
}

.col-6 {
   width: 50%;
}

.col-7 {
   width: 58.33%;
}

.col-8 {
   width: 66.66%;
}

.col-9 {
   width: 75%;
}

.col-10 {
   width: 83.33%;
}

.col-11 {
   width: 91.66%;
}

.col-12 {
   width: 100%;
}

.row::after {
   content: "";
   clear: both;
   display: table;
}

[class*="col-"] {
   float: left;
   padding: 15px;
   /*border: 1px solid red;*/
}

/* end of styles for column layout */

/* styles for dropdown action */
.mainmenubtn {
   background-color: skyblue;
   color: white;
   border: none;
   cursor: pointer;

}

.mainmenubtn:hover {
   background-color: blue;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-child {
   position: absolute;
   display: none;
   background-color: white;
   min-width: 80px;
   border: 1px solid black;
   border-radius: 5px;
   z-index:1000;
}

.dropdown-child a {
   padding: 2px;
   text-decoration: none;
   color: black;
   display: block;
}

.dropdown-child a:hover {
   background-color: lightgrey;
}

.dropdown:hover .dropdown-child {
   display: block;
}
/* end of styles for dropdown action */

.vertical-center {
   display: flex;
   align-items: center;
}

.navigation-bar {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
   position: fixed;
   top: 0;
   width: 100%;
   left: 0;
   background-color: #0a608a;
   z-index: 100000;
}

.height-35{
   height: 35px;
}

.fl {
   float: left;
}

.fr {
   float: right;
}

.padding-15 {
   padding: 15px;
}

.link-styles-nav {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

.link-styles-nav:hover:not(.active) {
   background-color: #111;
}

.three-column {
   display: flex;
}

.three-column div {
   flex: 1;
}

.item {
   font-size: 15px;
   font-weight: 500;
}

.button {
   background-color: #0a608a;
   border: none;
   color: white;
   padding: 12px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   border-radius: 2px;
   height: 18px;
}

.cursor-pointer {
   cursor: pointer;
}

.text-align-center {
   text-align: center;
}

.text-align-left {
   text-align: left;
}

.text-align-right {
   text-align: right;
}

table, td, th {
   border: 1px solid black;
}

table {
   width: 100%;
   border-collapse: collapse;
}

.input-default {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

.center-in-page {
   margin: auto;
   width: 60%;
   padding: 10px;
}

.center-in-page input {
   max-width: 100%;
}

.center-in-page select {
   max-width: 100%;
}

.align-labels {
   display: inline-block;
   float: left;
   clear: left;
   width: 250px;
   text-align: left;
}

.bg-red {
   background-color: red !important;
}

.bg-green {
   background-color: forestgreen !important;
}

.margin-top-40 {
   margin-top: 40px;
}

.font-weight-500 {
   font-weight: 500 !important;
}

.default-title {
   margin-block-end: 0px;
   font-weight: bold;
}

.text-red {
   color: red;
}

/* styles for slider switch button */
.switch {
   position: relative;
   display: inline-block;
   width: 30px;
   height: 17px;
}

.switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
}

.slider:before {
   position: absolute;
   content: "";
   height: 13px;
   width: 13px;
   left: 2px;
   bottom: 2px;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
}

input:checked + .slider {
   background-color: limegreen;
}

input:focus + .slider {
   box-shadow: 0 0 1px limegreen;
}

input:checked + .slider:before {
   -webkit-transform: translateX(13px);
   -ms-transform: translateX(13px);
   transform: translateX(13px);
}

.slider.round {
   border-radius: 34px;
}

.slider.round:before {
   border-radius: 50%;
}

/* end of styles for slider switch button */